
.loadingButton {
  font-size: 1.6rem;
  width: fit-content;
  border-radius: 0.6rem;
  padding: 0.5rem 1rem;
  min-width: 4rem;
  font-family: LexendRegular;
  font-weight: 400;
  background:var(--color-white);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--color-border);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  user-select: none;
  color: var(--color-black);
}
.loadingButton:hover {
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
}
.loadingButton:active {
  scale: 0.95;
}
.loadingButton::after{
  content: '';
  position: absolute;
  inset: 0;
  border-radius: inherit;
  opacity: 0.5;
  transition: .3s;
}
.loadingButton:active::after{
  box-shadow: 0 0 6rem 3rem var(--color-primary);
  opacity: 0;
  scale: 0;
}

.loadingIcon {
  animation: rotateAni 0.5s infinite ease-in-out;
  margin-right: 1rem;
}
@keyframes rotateAni {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
  }
}

.loadingButtonDisable {
  opacity: 0.5;
  cursor: wait;
}


.loadingButtonPrimary {
  background:var(--color-primary);
  color: var(--color-white);
}
.loadingButtonPrimary:hover {
  color: var(--color-white);
  background:var(--color-primary-20);
  border: 1px solid transparent;
}
.loadingButtonPrimary:active::after {
  box-shadow: 0 0 6rem 3rem var(--color-white);
  opacity: 0;
  scale: 0;
}


.loadingButtonError {
  background:var(--color-error);
  color: var(--color-white);
}
.loadingButtonError:hover {
  color: var(--color-white);
  background:var(--color-error-20);
  border: 1px solid transparent;
}
.loadingButtonError:active::after {
  box-shadow: 0 0 6rem 3rem var(--color-white);
  opacity: 0;
  scale: 0;
}


.loadingButtonWarning {
  background:var(--color-warning);
  color: var(--color-white);
}
.loadingButtonWarning:hover {
  color: var(--color-white);
  background:var(--color-warning-20);
  border: 1px solid transparent;
}
.loadingButtonWarning:active::after {
  box-shadow: 0 0 6rem 3rem var(--color-white);
  opacity: 0;
  scale: 0;
}