
/*主题颜色*/

/*默认主题*/
:root {
  --bg-color:blue;
  --color-primary: #1677ff;
  --color-primary-20: #1677ffcc;
  --color-error: #F6465D;
  --color-error-20: #F6465Dcc;
  --color-warning: #fac20a;
  --color-warning-20: #fac20acc;
  --color-srccess: #0ECB81;
  --color-srccess-20: #0ECB81cc;
  --color-white:#ffffff;
  --color-black:#000000;
  --color-border:#d9d9d9;
  --color-hover:#e7e7e7;
  --color-connect-balance:#999;
}

/*深色主题*/
[data-theme = 'dark'] {
  --bg-color:purple
}
